{
	border: 1px solid red;
}

html {
}

body {
	/*margin: 0 250px;*/
	min-width: 1300px;
	padding: 0;
	margin-bottom: 0;
	margin-top: 0;
	background-color: #F0EDE5; /*coconut */

}

/* Navbar */
#logo {
	font-size: 30px;
	color: black;
}
#navigationBar {
	background-color: #add8e6; /* blueish*/
	color: black;
}

/* Change Nav link colors */
nav > ul > li a {
	color: black;
}

/* ContentBio */
#contentBio {
	background-color: #CCFFFF; /* sky blue */
	padding-bottom: 100px; /* adds some space to make sure footer reaches bottom */
}

#pageHeader {
	margin-bottom: 0px;
	margin-left: 10px;
}

#scrollboxCol {
	margin-top: 30px;
}
#scrollBox {
	margin-left: 10px;
	height: 600px;
	width: 400px;
	overflow: auto;
	background-color: #b7e5e5; /*slightly darker sky blue */
}

#resume {
	padding-top: 30px;
	width: 600px;
	height: 600px;
}

/* Footer */
footer {
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(64,64,64); /* grey */
}

.footerText {
	margin: 0;
	color: white;
}
#fujiko {

	height: 200px;
	float: right;
}

#kotori {
	height: 200px;
	float: left;
}